body{
    background-color: rgb(195, 195, 195);
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 25px;
}
.topContainer{
    width: 340px;
    height: 380px;
    background-color: rgb(195, 195, 195);
    border-radius: 30px;
    box-shadow: 
    -5px -5px 15px rgb(255, 255, 255), /* -px 부분이 왼쪽과 위쪽*/
    5px 5px 15px grey;
    display: flex;
    justify-content: center;
}
.bottomContainer{
    width: 340px;
    height: 85px;
    background-color: rgb(195, 195, 195);
    border-radius: 40px;
    box-shadow: 
    -5px -5px 15px rgb(255, 255, 255), 
    5px 5px 15px grey;
    display: flex;
    align-items: center;
}
.dateBox{
    width: 310px;
    height: 150px;
    background-color: rgb(195, 195, 195);
    border-radius: 30px;
    box-shadow: 
    -5px -5px 15px rgb(255, 255, 255),
    5px 5px 15px grey;
    margin-top: 10px;
    position: relative;

    
}
.dateBox p{
    margin-left: 15px;
}
#currentDate{
    font-weight: bold;
    margin-bottom: 0;
}
#currentTime{
    margin-top: 3px;
    margin-bottom: 0;
}

#greyBox{
    background-color: rgb(167, 167, 167);
    width: 290px;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
}
#music{
    padding-top: 10px;
    margin-top: 8px;
}

.upload{
    width: 200px;
    height: 60px;
    box-shadow: inset 5px 5px 10px grey;
    border-radius: 30px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.upload p{
    margin-left: 70px;
    color: rgb(125, 125, 125);
}
.plus{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    background-color: rgb(167, 167, 167);
    position: relative;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus p{
    color: aqua;
}


.middleContainer{
    display: flex;
    margin-top: 0;
    gap: 30px;
    position: absolute;
    margin-top: 50px;
}


#img{
    width: 70px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
}
.imgContainer{
    margin-top: 15px;
}
#playBtn{
    cursor: pointer;
}


.chim{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    transform-origin: bottom center;
    flex-direction: column;
    align-items: center;
}

.clock{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    box-shadow: inset 5px 5px 10px grey;
    background-color: rgba(255, 255, 255, 0.868);
    position: relative;
    transform: rotate(-90deg);
}