body{
    background-color: rgb(195, 195, 195);
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 25px;
}
.topContainer{
    width: 340px;
    height: 380px;
    background-color: rgb(195, 195, 195);
    border-radius: 30px;
    box-shadow: 
    -5px -5px 15px rgb(255, 255, 255), /* -px 부분이 왼쪽과 위쪽*/
    5px 5px 15px grey;
    display: flex;
    justify-content: center;
}
.bottomContainer{
    width: 340px;
    height: 85px;
    background-color: rgb(195, 195, 195);
    border-radius: 40px;
    box-shadow: 
    -5px -5px 15px rgb(255, 255, 255), 
    5px 5px 15px grey;
}
.dateBox{
    width: 310px;
    height: 150px;
    background-color: rgb(195, 195, 195);
    border-radius: 30px;
    box-shadow: 
    -5px -5px 15px rgb(255, 255, 255), /* -px 부분이 왼쪽과 위쪽*/
    5px 5px 15px grey;
    margin-top: 10px;
}